<h1>Create New Product</h1>

<form action="/products" method="post">
  <div>Name: <input type="text" name="name"></div>
  <div>Description: <input type="text" name="description"></div>
  <div>Price: <input type="text" name="price"></div>
  <div>Image URL: <input type="text" name="images"></div>
  <div>Supplier ID: <select name="supplier_id" id="suppliers">
    <option value="">--Please choose an option--</option>
    <% Supplier.all.each do |supplier| %>
      <option value="<%supplier.id%>"><%= supplier.name %></option>
    <% end %>
  </select></div>
  <div>Quantity: <input type="text" name="quantity"></div>
  <input type="submit" value="Create Product">
</form>